%font-cursive {
  letter-spacing: .1em;
}

// Header

#body-inicio #header {
  .bg-figure-image {
    filter: blur(5px);
  }
  @mixin show-from($delay) {
    animation: show-from .5s (.5 + .25s * $delay) both;
  }
  .image {     @include show-from(1); }
  .description {
    ul {       @include show-from(2); }
    .buttons { @include show-from(3); }
    margin-top: 1em;
  }
}